{% extends "base.html" %}

{% block body %}
    <div class="content-description">
        <p>
            <a href="{{ url('exams_list') }}">{{ _('← Quay lại danh sách đề thi') }}</a>
        </p>

        <h3>{{ exam.name }}</h3>
        {% if can_manage_exams and exam_admin_change_url %}
            <p><a class="button" href="{{ exam_admin_change_url }}">{{ _('Chỉnh tag đề thi') }}</a></p>
        {% endif %}
        <p>
            {% if exam.year %}<b>{{ _('Năm') }}:</b> {{ exam.year }} · {% endif %}
            {% if exam.exam_type %}<b>{{ _('Dạng đề') }}:</b> {{ exam.exam_type }} · {% endif %}
            {% if exam.province %}<b>{{ _('Tỉnh') }}:</b> {{ exam.province }}{% endif %}
        </p>

        <table class="table striped">
            <thead>
                <tr>
                    <th style="width: 160px;">{{ _('Mã bài') }}</th>
                    <th>{{ _('Tên bài') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for problem in exam.problems %}
                    <tr>
                        <td><a href="{{ problem.url }}">{{ problem.code }}</a></td>
                        <td>{{ problem.name }}</td>
                    </tr>
                {% else %}
                    <tr><td colspan="2"><i>{{ _('Chưa có bài nào được gắn tag này.') }}</i></td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
