{% extends "base.html" %}

{% block body %}
    <p>{{ _("We've emailed you instructions for setting your password. You should be receiving them shortly.") }}</p>
    <p>{{ _("If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.") }}</p>
    <p>
        {{ _('See you soon! If you have problems resetting your password, feel free to shoot us a message at: ') }}
        <a href="https://discord.gg/TuanwHA4Fw" target="_blank">Discord</a>
    </p>
    <p>
        {{ _('Facebook:') }}
        <a href="https://www.facebook.com/clueoj" target="_blank">facebook.com/clueoj</a>
    </p>
{% endblock %}
