{% extends "base.html" %}
{% block body %}
    <p>{{ _('You have successfully been registered. An email has been sent to the email address you provided to confirm your registration.') }}</p>
    {{ _('See you soon! If you have problems resetting your password, feel free to shoot us a message at: ') }}
    <a href="https://discord.gg/TuanwHA4Fw" target="_blank">Discord</a>
    </p>
    <p>
    {{ _('Facebook:') }}
    <a href="https://www.facebook.com/clueoj" target="_blank">facebook.com/clueoj</a>
    </p>
{% endblock %}
